In [13]:
#Vamos a generar una lista vacia.

L=[]

range (10)

range(0, 10)

In [14]:
L= [1,2,3,4]
L

[1, 2, 3, 4]

In [15]:
L.append(5)
L

[1, 2, 3, 4, 5]

In [16]:
for i in range (11):print(i)

0
1
2
3
4
5
6
7
8
9
10

##Listas de comprension

In [17]:
#Tipo
type([])

list

In [18]:
len([2, 4, 6, 8])

4

In [19]:
Pares = [i for i in range(1, 101) if i%2==0]
Pares

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

# Numpy

In [20]:
import numpy as np

In [21]:
#Elige 5 n√∫meros aleatorio del uno al cien
np.random.randint(1, 100, 5)

array([20, 10, 41, 65, 53])

In [22]:
#Ejercicio
Ejercicio = [i for i in np.random.randint(1, 11, 100) if i%2==0]
Ejercicio

[4,
 8,
 4,
 2,
 2,
 4,
 2,
 8,
 10,
 4,
 2,
 6,
 4,
 10,
 6,
 6,
 2,
 8,
 4,
 2,
 10,
 10,
 6,
 10,
 2,
 8,
 2,
 6,
 8,
 2,
 6,
 4,
 4,
 6,
 4,
 2,
 2,
 10,
 8,
 6,
 8,
 2,
 8,
 8,
 4,
 10,
 4,
 4,
 6,
 6]

In [23]:
import numpy as np